<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="/css/general.css" />
        <link
            rel="stylesheet"
            href="/css/nav.css" />
        <link
            rel="stylesheet"
            href="/css/home.css" />
        <link
            rel="stylesheet"
            href="/css/superhero.css" />
        <link
            rel="stylesheet"
            href="/css/auth.css" />
        <link
            rel="stylesheet"
            href="/css/fight.css" />
        <link
            rel="stylesheet"
            href="/css/unauthorized.css" />
        <link
            rel="stylesheet"
            href="/css/results.css" />
        <link
            href="https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap"
            rel="stylesheet" />
        <title><%= pageTitle %></title>
    </head>
</html>
