<%- include('partials/head', { pageTitle: 'Home Page' }) %>
<%- include('partials/nav') %>
<main>
    <img src="images/heroApp.png" alt="hero.png">
    <p>Discover and explore the world of superheroes!</p>
</main>
<%- include('partials/footer') %>
