<%- include('partials/head', { pageTitle: 'Superheroes' }) %>
<%- include('partials/nav') %>

<main id="superheroes">
    <h1>Superheroes</h1>
    <input type="text" id="search" placeholder="Search superheroes..." class="search-bar" />
    <div id="letterButtons" class="letter-buttons"></div>
    <div id="groupedList" class="grouped-list"></div>
</main>

<%- include('partials/footer') %>

<script>
    let allSuperheroes = <%- JSON.stringify(superheroes) %>;

    function displayItems(items) {
        const groupedItems = items.reduce((acc, item) => {
            const firstLetter = item.name[0].toUpperCase();
            if (!acc[firstLetter]) {
                acc[firstLetter] = [];
            }
            acc[firstLetter].push(item);
            return acc;
        }, {});

        const letterButtonsElement = document.getElementById('letterButtons');
        const groupedListElement = document.getElementById('groupedList');
        letterButtonsElement.innerHTML = '';
        groupedListElement.innerHTML = '';

        Object.keys(groupedItems).sort().forEach(letter => {
            const button = document.createElement('button');
            button.textContent = letter;
            button.className = 'letter-button';
            button.onclick = function() {
                const allLists = document.querySelectorAll('.hero-list');
                allLists.forEach(list => list.style.display = 'none');
                document.getElementById(`list-${letter}`).style.display = 'flex';
            };

            const itemsList = document.createElement('ul');
            itemsList.id = `list-${letter}`;
            itemsList.className = 'hero-list';
            itemsList.style.display = 'none';

            // Sort the superhero items alphabetically by name
            groupedItems[letter].sort((a, b) => a.name.localeCompare(b.name));

            groupedItems[letter].forEach(item => {
                const listItem = document.createElement('li');
                listItem.innerHTML = `<a href="/superheroes/${item._id}">${item.name}</a>`;
                itemsList.appendChild(listItem);
            });

            letterButtonsElement.appendChild(button);
            groupedListElement.appendChild(itemsList);
        });
    }

    document.getElementById('search').addEventListener('input', function(event) {
        const searchText = event.target.value.toLowerCase();
        const filteredItems = allSuperheroes.filter(hero => hero.name.toLowerCase().includes(searchText));
        displayItems(filteredItems);
    });

    // Initial display
    displayItems(allSuperheroes);
</script>