<%- include('partials/head', { pageTitle: 'Unauthorized Page' }) %>
<%- include('partials/nav') %>

<main class="unauthorized-access">
    <div class="unauthorized-header">
        <h1>Unauthorized Access</h1>
        <img src="/images/shield.png" alt="SHIELD Logo" class="shield-logo">
    </div>
    <div class="unauthorized-message">
        <h2>You are attempting to edit or delete a hero that does not belong to you.</h2>
        <h3>Only the creator of a hero can edit or delete it.</h3>
        <h4>I suspect SHIELD agents are already en route to your location.</h4>
        <h5>Clearly, you are a Skrull agent.</h5>
    </div>
</main>
<%- include('partials/footer') %>
