<%- include('partials/head', { pageTitle: 'Unauthorized Page' }) %>
<%- include('partials/nav') %>
<main>
        <h1>Unauthorized Access</h1>
        <h2>You are attempting to edit or delete a hero that does not belong to you</h2>
        <h3>Only the creator of a hero can edit or delete it</h3>
        <h4>I suspect SHIELD agents are already enroute to your location</h4>
        <h5>Clearly you are a skrull agent</h5>
</main>
<%- include('partials/footer') %>