main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Center items vertically */
    /* min-height: 100vh;  */
  }

  a {
    text-decoration: none;
    color: #333;
  }
  
  p {
    font-size: 18px;
    margin-top: 10px;
  }