/* General Body Styles */
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #1c2331;
  color: #ccc;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

/* Images */
img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

/* Headings */
h1, h2, h3, h4, h5 {
  color: #3498db;
  font-weight: 600;
}

/* Lists */
ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin-bottom: 10px;
}

/* Links */
a {
  color: #3498db;
  text-decoration: none;
  transition: color 0.3s;
}

a:hover, a:focus {
  color: #ffffff;
  text-decoration: underline;
}

/* Forms */
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 450px;
  background-color: #2c3e50;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  color: #ccc
}

form input[type="text"],
form input[type="number"],
form input[type="password"],
form select {
  width: 90%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 15px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

/* Buttons */
button, .button {
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
}

button:hover, .button:hover {
  background-color: #2980b9;
}

/* Footer */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2c3e50;
  color: #ccc;
  padding: 10px;
  text-align: center;
  position: relative;
  left: 0;
  bottom: 0;
  width: 95%;
  margin-top: 10px;
  max-height: 1.5rem;
  border-radius: 5px;
}

/* Navigation Styles */
nav {
  display: flex;
  align-items: center;
  background-color: #2c3e50;
  padding: 10px;
  max-height: 2rem;
  width: 95%;
  border-radius: 5px;
}

nav ul {
  display: flex;
  justify-content: start;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin-right: 10px;
}

nav ul li a {
  padding: 5px 10px;
  transition: background-color 0.3s;
}

nav ul li a:hover {
  background-color: #34495e;
  color: #3498db;
}

/* Specific Page Styles */
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* min-height: 100vh; */
}

main#new-ejs {
  flex-direction: row;
}

body > #superheroes,
body > #new-ejs,
body > #fight-ejs {
    align-self: flex-start; 
    width: 100%;
    margin-left: 2.5%; 
}

section.instructions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  background-color: #2c3e50;
  border-radius: 8px;
  margin-left: 2.5%;
  margin-top: 80px;
  margin-right: 50px;
  width: 98%;
}

#superheroes,
#new-ejs,
#fight-ejs {
  justify-content: start !important;
  align-items: start !important
}

#fight-ejs {
  margin-left: 10px;
}

#hero-list li {
  margin-bottom: 3px;
  color: #3498db;
}

.superhero-form form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 10px;
}

/* Specific styles for the superhero details page */
.superhero-details h1 {
  color: #f39c12;  
  text-align: center;
  margin-top: 20px;
}

.superhero-info {
  background-color: #2c3e50; 
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.5);
  margin: 20px;
  text-align: center;
  border: 2px solid #1c2331; 
  position: relative; 
}

.superhero-info, .superhero-info p {
  font-family: 'Courier Prime', monospace; 
  color: #ccc; 
  font-size: 18px;
}

.superhero-details, .superhero-details h1, .superhero-details h2, .superhero-details ul, .superhero-details li {
  font-family: 'Courier Prime', monospace;
}

.superhero-info img {
  width: 300px; 
  margin-top: 15px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

.superhero-stats {
  background-color: #2c3e50;
  padding: 20px;
  border-radius: 8px;
  margin: 20px;
  width: 90%; 
}

.superhero-stats h2 {
  text-align: center;
  color: #f39c12;
}

.superhero-stats ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.superhero-stats li {
  width: 45%; 
  background-color: #34495e;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
  color: #ecf0f1;
}

.superhero-actions {
  display: flex;
  justify-content: center; 
  padding: 20px;
  background-color: #2c3e50; 
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.25);
  margin: 20px auto; 
}

.action-form {
  margin: 0 10px; 
  background: none; 
  border: none; 
  padding: 0; 
  width: auto; 
  box-shadow: none;
}

.button {
  width: 150px; 
  background-color: #3498db; 
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none; 
  box-shadow: 0 2px 5px rgba(0,0,0,0.3); 
}

.button:hover {
  background-color: #2980b9; 
}
.superhero-actions a.button, .superhero-actions button {
  width: 150px; 
  margin: 0 10px; 
  text-align: center; 
  display: inline-block; 
}

.superhero-actions .button {
  background-color: #3498db; 
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none; 
  box-shadow: 0 2px 5px rgba(0,0,0,0.3); 
}

.superhero-actions .button:hover {
  background-color: #2980b9; 
}

/* Unauthorized Access Page Styles */
@keyframes flash {
  0%, 100% { color: #d9534f; } 
  50% { color: #ffffff; } 
}

.unauthorized-header h1 {
  font-size: 2.5em;
  animation: flash 1s linear infinite; 
}

.unauthorized-access {
  text-align: center;
  padding: 50px;
  color: #fff;
  /* background: url('/images/comic-background.jpg') no-repeat center center; */
  background-size: cover;
}

.unauthorized-header h1 {
  font-size: 2.5em;
  color: #d9534f;
}

.unauthorized-header img.shield-logo {
  width: 250px; 
  margin-top: 20px;
}

.unauthorized-message h2 {
  font-size: 1.5em;
  margin-top: 20px;
}

.unauthorized-message h3, .unauthorized-message h4, .unauthorized-message h5 {
  font-size: 1.2em;
  margin-top: 10px;
  color: #bbbbbb; 
}

.unauthorized-access h1, .unauthorized-access h2, .unauthorized-access h3, .unauthorized-access h4, .unauthorized-access h5 {
  font-family: 'Bangers', cursive; 
}

.slideshow-container {
  width: 300px; /* Set the width of the slideshow */
  height: 300px; /* Set the height of the slideshow */
  position: relative;
  margin-left: 20px; /* Space from the form */
  float: right; /* Align to the right of the form */
}

.slide {
  width: 100%;
  height: 100%;
  border-radius: 8px; /* Optional: for styled corners */
  display: none; /* Hide all images initially */
  position: absolute;
  top: 0;
  left: 0;
}

#fight-ejs {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.slideshow-container {
  display: flex;
  width: 350px;
  height: 350px;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-left: 2.5%;
}

.slide {
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}

form {
  margin-bottom: 20px;
}

